@import "tailwindcss";

@font-face {
  font-family: "VintageSignature";
  src: url("/fonts/Vintage Signature.woff2") format("woff2"), url("/fonts/Vintage Signature.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
